:root {font-size: 100%; }
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

body{
    background-color: #222831;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    height: 80vh;
    width: 80vw;
    margin: 10vh 10vw;
}

h1{
    font-size: 2rem;
    color: #EEEEEE;
    margin-bottom: 2rem;
}

textarea {
    padding: 1rem;
    width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    resize: none;
}

label {
    display: block;
    margin-bottom: 10px;
}

#buttons{
    text-align: center;
    margin: 2rem;
}

button {
    font-size: 1.2rem;
}
